.busca, 
.menu-departamentos {
  background-color: #dcdcdc;
  font-weight: bold;
  text-transform: uppercase;
  float: left;
  margin-right: 10px;
  width: 230px;
}

.busca h2,
.busca form,
.menu-departamentos h2 {
  margin: 10px;
}

.menu-departamentos li {
  background-color: white;
  margin-bottom: 1px;
  padding: 5px 10px;
}

.menu-departamentos a {
  color: #333333;
  text-decoration: none;
}
.busca input {
  vertical-align: middle;
}

.busca input[type=search] {
  width: 170px;
}
.menu-departamentos {
    clear: left;
    margin-top: 10px;
    padding-bottom: 10px;
}
.destaque {
	margin-top: 10px;
}
